html, body {
  font-family: 'Open Sans', sans-serif;
  color: #000;
  background-color: #f9f9f9;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Droid Sans', sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

a::visited {
  color: #000;
}

.content.d-o0-to-o100 {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.content.d-o0-to-o100._show {
  opacity: 1;
}

header {
  border-bottom: 1px solid #f1efef;
  background-color: #FFF;
}

header .header-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
}

header .header-wrapper .img-wrapper {
  width: 30%;
}

header .header-wrapper .img-wrapper img {
  max-width: 100%;
  max-height: 200px;
  min-height: 100px;
  margin: 1rem;
}

.donations {
  max-width: 800px;
  margin: 2rem auto 0 auto;
}

.donations h2 {
  text-align: center;
  color: #bfbfbf;
}

.donations-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.donation {
  display: flex;
  border: 1px solid #f1efef;
  max-width: 40%;
  min-width: 300px;
  background-color: #FFF;
  margin: 1rem;
}

.donation .img-wrapper {
  max-width: 50px;
  max-height: 50px;
  overflow: hidden;
}

.donation figure {
  margin: 1rem;
}

.donation .img-wrapper img {
  max-width: 100%;
  height: auto;
  margin: 0;
}

/*.donor-details {
  margin: 1rem;
}*/

.donor-details h3 {
  line-height: 0.5;
}

.donation-amount {
  color: #a6a6a6;
  line-height: 0;
  margin-bottom: 24px;
}

footer {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #FFF;
  padding: 1rem 0;
}

footer .footer-link .img-wrapper {
  height: 50px;
  max-width: 100px;
}

footer .footer-link .img-wrapper img {
  max-width: auto;
  max-height: 100%;/*
  width: auto;
  height: auto;*/
}